
body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  background-image: url('./assets/img/background.jpg');
  background-repeat: repeat-y;
  background-size: cover;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* убираем желтый фон у инпутов при автозаполнении */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0px 1000px #008D92 inset;
    transition: background-color 5000s ease-in-out 0s;
}

/* Убираем стрелки у input type=number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance: textfield;
}